body {
  background-color: black;
}

/*FIXED NAVIGATION*/
header {
  font-family: $primary-font;
  text-transform: uppercase;
  width: 50px;
  height: 100vh;
  position: fixed;
  background-color: #000;
  color: #fff;
  z-index: 3;
  display: flex;
  justify-content: center;
  
  /*HAMBURGER*/
  .hamburger {
  button {
    width: 44px;
    height: 44px;
    background: transparent;
    border: 0;
    z-index: 1;
    span {
      display: block;
      position: relative;
      left: 3px;
      top: 10px;
      width: 25px;
      height: 4px;
      background-color: #fff136;
      border-radius: 5px;
      margin-bottom: 3px;
    }
  }

  /*HIDDEN CHECKBOX*/
  input {
    position: fixed;
    width: 44px;
    height: 44px;
    z-index: 2;
    opacity: 0;
  }
}

  /*ANIMATION*/
  input:checked + .menu button span {
    position: absolute;
    top: 30px;
    left: 12.5px;
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  /*NAVIGATION*/
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ad7afe;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      justify-content: center;
      text-align: center;
    }
  }
  input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
  }
}

/*TOUGH COOKIE*/
.tough-cookie {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
}

/*DRIZZLE TAHINI CHICKPEAS*/
.page1-title {
  font-family: $primary-font;
  text-transform: uppercase;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*DRIZZLE & CHICKPEAS*/
  span:nth-child(1),
  span:nth-child(3) {
    position: absolute;
  }

  /*DRIZZLE*/
  span:nth-child(1) {
    color: #ad7afe;
    top: -10px;
    right: 1.7px;
    font-size: 1.57rem;
  }

  /*TAHINI*/
  span:nth-child(2) {
    color: #00ff39;
    font-size: 4rem;
  }

  /*CHICKPEAS*/
  span:nth-child(3) {
    color: #fff136;
    left: 8px;
    bottom: -7px;
    font-size: 1.55rem;
    z-index: -1;
  }
}

/*PAGES*/
.page-content {
  margin-left: 50px;
  .page {
    min-height: 100vh;
  }
  .page1,
  .page2 {
    border-left: 10px solid #fff136;
    border-right: 10px solid #fff136;
  }
  .page3 {
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
}

/*PAGE GRID*/
.page1,
.page2,
.page3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*overflow: hidden;*/
}

/*PAGE 1*/
.page1-title {
  grid-column: 2 / span 2;
}
.page1-text1 {
  font-family: $primary-font;
  font-size: 1rem;
  color: #00ff39;
  min-width: 300px;
  min-height: 100px;
  grid-column: 2 / span 2;
}
.page1-images {
  grid-column: 2 / span 2;
  position: relative;
  place-self: center;
  margin-top: 20px;
  .salad-arrow {
    position: absolute;
    transform: rotate(90deg);
    bottom: 10px;
    left: 20px;
  }
}
.page1-text2 {
  grid-column: 2 / span 2;
  font-family: $primary-font;
  font-size: 1rem;
  color: #ad7afe;
  background: #fff;
  border-left: 0.3rem solid #fff136;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 140px;
  padding: 5px;
  margin-top: -4px;
  p {
    margin-top: 0;
  }
  .explore-menu {
    margin-top: -12px;
    color: #000;
    text-transform: uppercase;
  }
}

/*PAGE 2*/

/*
.secondary-course-text {
  
  grid-area: 2 / 2 / 3 / 4;
  margin: 1rem 0rem;

  .explore-menu {
    margin-top: 0.2rem;
    color: #000;
    text-transform: uppercase;
  }
}

.menu-container {
  background-color: #fff136;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  .menu-images {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-evenly;
    img {
      object-fit: cover;
    }
    img:nth-child(1) {
      width: auto;
      height: 6.7rem;
    }
    img:nth-child(2), 
    img:nth-child(3) {
      width: 6.7rem;
      height: 6.7rem;
    }
  }
}

.menu-list {
  grid-column: 2 / 4;
 .menu-item {
    background-color: #fff;
    border-top: 0.1rem solid #000;
    border-bottom: 0.1rem solid #000;
    margin-bottom: 0.3rem;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 5fr 6fr 2fr;
    align-items: center;
  }
  .item-name {
    font-family: $primary-font;
    .label-new {
      background-color: #ac76ff;
      font-family: 'Courier Prime', Courier, monospace;
    }
  }
  .item-info {
    font-family: $secondary-font;
    font-size: 0.8rem;
  }
  .item-price {
    font-family: $primary-font;
    text-align: right;
  }
}*/
