* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* FIXED HEADER
----------------------------- */
header {
  font-family: $primary-font;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;

  //HAMBURGER
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-button {
      padding-top: 20px;
      button {
        width: 44px;
        height: 44px;
        background: transparent;
        border: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        span {
          display: block;
          position: relative;
          width: 25px;
          height: 4px;
          background-color: #fff136;
          border-radius: 5px;
          margin-bottom: 3px;
        }
      }
    }

    //HIDDEN CHECKBOX
    input {
      position: fixed;
      width: 44px;
      height: 44px;
      top: 18px;
      left: 13px;
      z-index: 2;
      opacity: 0;
    }
  }

  //ANIMATION
  input:checked + .menu-button button span {
    position: absolute;
    top: 40px;
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

/* NAVIGATION
----------------------------- */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ad7afe;
    width: calc(100% - 70px);
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
    left: 70px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: 100%;
      justify-content: center;
      text-align: center;
      font-size: 2rem;
    }
  }
  input:checked + .menu-button nav {
    visibility: visible;
    opacity: 1;
  }
}

/* H1 TOUGH COOKIE
----------------------------- */
.tough-cookie {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  font-size: 5vh;
  flex-grow: 1;
  white-space: nowrap;
  width: fit-content;
  margin: 0 auto;
}

/* DRIZZLE TAHINI CHICKPEAS
----------------------------- */
.page1-title {
  font-family: $primary-font;
  text-transform: uppercase;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //DRIZZLE & CHICKPEAS
  span:nth-child(1),
  span:nth-child(3) {
    position: absolute;
  }

  //DRIZZLE
  span:nth-child(1) {
    color: #ad7afe;
    top: -10px;
    right: 1.7px;
    font-size: 1.57rem;
  }

  //TAHINI
  span:nth-child(2) {
    color: #00ff39;
    font-size: 4rem;
  }

  //CHICKPEAS
  span:nth-child(3) {
    color: #fff136;
    left: 8px;
    bottom: -7px;
    font-size: 1.55rem;
    z-index: -1;
  }
}

/* PAGE GRID
----------------------------- */
.page1,
.page2,
.page3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* PAGES STYLING
----------------------------- */
.page-content {
  display: grid;
  margin-left: 70px;
  .page {
    min-height: 100vh;
  }
  .page1,
  .page2 {
    border-left: 10px solid #fff136;
    border-right: 10px solid #fff136;
  }
  .page1 {
    background-color: #000;
  }
  .page2 {
    background-color: #fff136;
  }
  .page3 {
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    background-color: #00ff39;
  }
}

/* PAGE 1
----------------------------- */
//TOP PART
.page1-title {
  grid-column: 2 / span 2;
  padding: 30px;
}
.page1-text1 {
  font-family: $primary-font;
  font-size: 1.1rem;
  color: #00ff39;
  grid-column: 2 / span 2;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 330px;
  min-height: 100px;
}

//BOTTOM PART
.page1-images {
  grid-column: 2 / span 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;

  .lettuce-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .salad-arrow {
    position: absolute;
    bottom: 5px;
    left: 22px;
    img {
      width: 35px;
      height: 35px;
      transform: rotate(90deg);
    }
  }
}
.page1-text2 {
  grid-column: 2 / 4;
  font-family: $primary-font;
  font-size: 1.1rem;
  background: #fff;
  border-left: 10px solid #fff136;

  min-width: 330px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 0 0 10px 0;
  p {
    padding-left: 10px;
    color: #ad7afe;
    margin: 0;
  }
}
.explore-menu {
  color: #000;
  text-transform: uppercase;
  padding-left: 10px;
  a {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 10px;
      height: 10px;
    }
  }
}

/* PAGE 2
----------------------------- */
//IMAGES
.food-images {
  margin-top: 10px;
  grid-column: span 4;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-grow: 1;
  }
}

//FOOD MENU
.food-list {
  list-style: none;
  grid-column: span 4;
  padding: 0;
  margin-top: 5px;

  li {
    background-color: #fff;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    margin-bottom: 5px;
    padding: 3px;
  }

  .food-name,
  .food-price {
    font-family: $primary-font;
    font-size: 1.3rem;
  }
  .food-name {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .food-info {
    font-family: $secondary-font;
    font-size: 1.2rem;
    display: block;
    padding: 3px 0 3px 0;
  }
  .food-price {
    display: flex;
    justify-content: end;
    text-align: right;
  }
}

//NEW, VEGAN, POPULAR LABELS
.food-label-new,
.food-label-vegan,
.food-label-popular {
  font-family: "Courier Prime", Courier, monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  height: 12px;
  span {
    display: inline-block;
  }
}

.food-label-new {
  background-color: #ad7afe;
  padding-inline: 12px;
  transform: rotate(2deg);
  span {
    transform: rotate(-2deg);
  }
}
.food-label-vegan {
  background-color: #00ff39;
  padding-inline: 8px;
  transform: rotate(-5deg);
  span {
    transform: rotate(5deg);
  }
}
.food-label-popular {
  background-color: #fff136;
}

/* PAGE 3
----------------------------- */
//BOOK YOUR TABLE
.booking-title {
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

//BOOKING FORM
.book-table {
  grid-column: 1 / span 4;
  font-size: 1.3rem;
  padding: 0 10px 0 10px;

  .type-info {
    display: flex;
    margin-bottom: 10px;
    label {
      font-family: $primary-font;
      text-transform: uppercase;
      width: 100%;
      align-self: center;
    }
    input {
      font-family: $secondary-font;
      border: none;
      border-radius: 30px;
      width: 100%;
      height: 25px;
      margin-left: -100px;
      padding: 10px;
      text-align: center;
    }
  }
}

//SUBMIT & RESET BUTTONS
.submit-reset {
  font-family: $primary-font;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  justify-content: center;
  button {
    border: none;
    border-radius: 8px;
    width: 100%;
    text-transform: uppercase;
    color: #000;
  }
  .cancel {
    background-color: #ac76ff;
  }
  .request {
    background-color: #fff136;
  }
}

//CONTACT INFO
.contacts {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  //BACKGROUND IMAGE
  .contacts-bg {
    background-image: url("../assets/photos/dining-table-image.jpg");
    min-height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
  }

  //TEXT ON BG IMAGE
  .info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-shadow: -2px -2px rgba(0, 0, 0, 1);
    position: absolute;
  }
}

//SVG + TEXTS
.info-details {
  display: flex;
  gap: 10px;
  color: #28bcec;
  align-items: center;
  .material-symbols-outlined {
    font-size: 2.5rem;
  }
  .info-txt {
    font-family: $primary-font;
    font-size: 1.3rem;
  }
}

/* COOKIES
----------------------------- */
footer {
  background-color: #ad7afe;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 15px;
}

.cookies-buttons {
  display: flex;
  gap: 10px;
  button {
    font-family: $primary-font;
    text-transform: uppercase;
    color: #000;
    border: none;
    border-radius: 7px;
    padding-inline: 20px;
  }
  .co-decline {
    background-color: #fff136;
  }
  .co-accept {
    background-color: #00ff39;
  }
}
