body {
  background-color: green;
}

header {
  font-family: $primary-font;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    left: 10px;
    top: 2.5px;
    z-index: 1;
    span {
      display: block;
      width: 25px;
      height: 4px;
      background-color: #fff136;
      border-radius: 5px;
      margin-bottom: 3px;
    }
  }
  input:checked + .menu button span {
    position: absolute;
    top: 15px;
    transition: all 0.2s ease-in-out;
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  input {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 2.5px;
    left: 10px;
    z-index: 2;
    opacity: 0;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ad7afe;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      justify-content: center;
      text-align: center;
    }
  }
  input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
  }
  h1 {
    margin: 0;
  }
}
