/* PAGE 1
----------------------------- */
.page1 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16px;

  //TOP PART
  .page1-title {
    grid-column: 2 / span 3;
  }
  .page1-text1 {
    grid-column: 5 / span 7;
    font-size: 2.8rem;
  }

  //BOTTOM PART
  .page1-images {
    grid-column: 1 / span 5;
    width: 600px;
    height: 550px;
    justify-self: center;
    .salad-arrow {
      bottom: 35px;
      left: 40px;
      img {
        width: 80px;
        height: 80px;
      }
    }

    //ARROW ANIMATION
    &:hover {
      z-index: 9999;
      .salad-arrow {
        bottom: 0;
        transition: bottom 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
  .page1-text2 {
    grid-column: 6 / span 6;
    font-size: 2.8rem;
  }
}