/* PAGE 1
----------------------------- */
/*.page1-title {

}*/

//TOP PART
.page1-text1 {
  font-size: 2rem;
  min-width: 600px;
  min-height: 100px;
}

//BOTTOM PART
.page1-images {
  width: 500px;
  height: 450px;
  .salad-arrow {
    bottom: 40px;
    left: 37px;
    img {
        width: 50px;
        height: 50px;
    }
  }
}
.page1-text2 {
  font-size: 2rem;
}

/* PAGE 2
----------------------------- */
//FOOD IMAGES
.food-images {
    img {
      width: 200px;
      height: 200px;
    }
  }

//FOOD NAME & PRICE
.food-list {
  .food-name,
  .food-price {
    font-size: 1.8rem;
  }

  //FOOD INFO
  .food-info {
    font-size: 1.7rem;
  }
}

//NEW, VEGAN, POPULAR LABELS
.food-label-new,
.food-label-vegan,
.food-label-popular {
  font-size: 1.2rem;
  height: 20px;
}

/* PAGE 3
----------------------------- */
.booking-title {
  font-size: 3.5rem;
}

.book-table {
  font-size: 2rem;
  .type-info {
    input {
      height: 35px;
    }
  }
}

.info-details {
  .material-symbols-outlined {
    font-size: 3.2rem;
  }
  .info-txt {
    font-family: $primary-font;
    font-size: 2rem;
  }
}
